<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{886,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,274}}</string>
                <key>sourceSize</key>
                <string>{886,274}</string>
            </dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,782},{110,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,480}}</string>
                <key>sourceSize</key>
                <string>{110,480}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1264},{111,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,332}}</string>
                <key>sourceSize</key>
                <string>{111,332}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1367},{111,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,258}}</string>
                <key>sourceSize</key>
                <string>{111,258}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,778},{229,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,276}}</string>
                <key>sourceSize</key>
                <string>{229,276}</string>
            </dict>
            <key>1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1434},{110,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,258}}</string>
                <key>sourceSize</key>
                <string>{110,258}</string>
            </dict>
            <key>1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1682},{110,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,331}}</string>
                <key>sourceSize</key>
                <string>{110,331}</string>
            </dict>
            <key>1g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2},{111,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,479}}</string>
                <key>sourceSize</key>
                <string>{111,479}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{882,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,388}}</string>
                <key>sourceSize</key>
                <string>{882,388}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1458},{153,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,249}}</string>
                <key>sourceSize</key>
                <string>{153,249}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1546},{188,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,249}}</string>
                <key>sourceSize</key>
                <string>{188,249}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1207},{234,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,249}}</string>
                <key>sourceSize</key>
                <string>{234,249}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,782},{229,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,276}}</string>
                <key>sourceSize</key>
                <string>{229,276}</string>
            </dict>
            <key>2e.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1458},{153,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,249}}</string>
                <key>sourceSize</key>
                <string>{153,249}</string>
            </dict>
            <key>2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1207},{188,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,249}}</string>
                <key>sourceSize</key>
                <string>{188,249}</string>
            </dict>
            <key>2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1613},{233,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,249}}</string>
                <key>sourceSize</key>
                <string>{233,249}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1188},{236,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,237}}</string>
                <key>sourceSize</key>
                <string>{236,237}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1480},{236,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,214}}</string>
                <key>sourceSize</key>
                <string>{236,214}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1852},{235,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,169}}</string>
                <key>sourceSize</key>
                <string>{235,169}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,547},{229,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,277}}</string>
                <key>sourceSize</key>
                <string>{229,277}</string>
            </dict>
            <key>3e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,696},{236,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,237}}</string>
                <key>sourceSize</key>
                <string>{236,237}</string>
            </dict>
            <key>3f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1797},{236,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,214}}</string>
                <key>sourceSize</key>
                <string>{236,214}</string>
            </dict>
            <key>3g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,330},{236,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,169}}</string>
                <key>sourceSize</key>
                <string>{236,169}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1613},{236,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,237}}</string>
                <key>sourceSize</key>
                <string>{236,237}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1151},{236,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,214}}</string>
                <key>sourceSize</key>
                <string>{236,214}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1852},{235,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,169}}</string>
                <key>sourceSize</key>
                <string>{235,169}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{229,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,277}}</string>
                <key>sourceSize</key>
                <string>{229,277}</string>
            </dict>
            <key>4e.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1613},{236,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,237}}</string>
                <key>sourceSize</key>
                <string>{236,237}</string>
            </dict>
            <key>4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,935},{236,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,214}}</string>
                <key>sourceSize</key>
                <string>{236,214}</string>
            </dict>
            <key>4g.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1864},{236,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,169}}</string>
                <key>sourceSize</key>
                <string>{236,169}</string>
            </dict>
            <key>5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1106},{126,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,326}}</string>
                <key>sourceSize</key>
                <string>{126,326}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1060},{126,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,326}}</string>
                <key>sourceSize</key>
                <string>{126,326}</string>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1060},{145,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,326}}</string>
                <key>sourceSize</key>
                <string>{145,326}</string>
            </dict>
            <key>5e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{145,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,326}}</string>
                <key>sourceSize</key>
                <string>{145,326}</string>
            </dict>
            <key>5f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,568},{126,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,326}}</string>
                <key>sourceSize</key>
                <string>{126,326}</string>
            </dict>
            <key>5g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,778},{126,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,326}}</string>
                <key>sourceSize</key>
                <string>{126,326}</string>
            </dict>
            <key>6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,782},{229,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,276}}</string>
                <key>sourceSize</key>
                <string>{229,276}</string>
            </dict>
            <key>di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{271,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,29}}</string>
                <key>sourceSize</key>
                <string>{271,29}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,782},{898,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,49}}</string>
                <key>sourceSize</key>
                <string>{898,49}</string>
            </dict>
            <key>jiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{882,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,388}}</string>
                <key>sourceSize</key>
                <string>{882,388}</string>
            </dict>
            <key>xianweijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{315,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,543}}</string>
                <key>sourceSize</key>
                <string>{315,543}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1502,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c45539a9297671cec64df97a18a13bb2$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
