<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,580},{133,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,157}}</string>
                <key>sourceSize</key>
                <string>{133,157}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,416},{156,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,125}}</string>
                <key>sourceSize</key>
                <string>{156,125}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,416},{162,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,139}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,574},{157,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,120}}</string>
                <key>sourceSize</key>
                <string>{157,120}</string>
            </dict>
            <key>gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{873,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,818}}</string>
                <key>sourceSize</key>
                <string>{873,818}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{225,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{225,226}</string>
            </dict>
            <key>xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,230},{183,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,184}}</string>
                <key>sourceSize</key>
                <string>{183,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{1158,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f977f99bf5960a63be0fa2c6dc5f18a$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
