<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_kz.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,555},{201,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,194}}</string>
                <key>sourceSize</key>
                <string>{201,194}</string>
            </dict>
            <key>1_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1344},{234,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,202}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>1_yf.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1548},{229,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,205}}</string>
                <key>sourceSize</key>
                <string>{229,205}</string>
            </dict>
            <key>1_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{265,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,218}}</string>
                <key>sourceSize</key>
                <string>{265,218}</string>
            </dict>
            <key>2_fj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{231,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{231,208}</string>
            </dict>
            <key>2_kz.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,958},{247,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,200}}</string>
                <key>sourceSize</key>
                <string>{247,200}</string>
            </dict>
            <key>2_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1160},{266,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,182}}</string>
                <key>sourceSize</key>
                <string>{266,182}</string>
            </dict>
            <key>2_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{271,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,148}}</string>
                <key>sourceSize</key>
                <string>{271,148}</string>
            </dict>
            <key>3_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1548},{85,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,221}}</string>
                <key>sourceSize</key>
                <string>{85,221}</string>
            </dict>
            <key>3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{207,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,215}}</string>
                <key>sourceSize</key>
                <string>{207,215}</string>
            </dict>
            <key>3_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,758},{194,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,198}}</string>
                <key>sourceSize</key>
                <string>{194,198}</string>
            </dict>
            <key>3_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,275},{278,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,129}}</string>
                <key>sourceSize</key>
                <string>{278,129}</string>
            </dict>
            <key>4_mj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{290,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,114}}</string>
                <key>sourceSize</key>
                <string>{290,114}</string>
            </dict>
            <key>4_qb.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1771},{212,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,161}}</string>
                <key>sourceSize</key>
                <string>{212,161}</string>
            </dict>
            <key>4_yg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1771},{150,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,211}}</string>
                <key>sourceSize</key>
                <string>{150,211}</string>
            </dict>
            <key>4_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{266,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,218}}</string>
                <key>sourceSize</key>
                <string>{266,218}</string>
            </dict>
            <key>bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,405}}</string>
                <key>sourceSize</key>
                <string>{382,405}</string>
            </dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{360,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,255}}</string>
                <key>sourceSize</key>
                <string>{360,255}</string>
            </dict>
            <key>k_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{360,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,255}}</string>
                <key>sourceSize</key>
                <string>{360,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{560,1991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6fe099ecf67307e9b26c75b30806835$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
