<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{778,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,395}}</string>
                <key>sourceSize</key>
                <string>{778,395}</string>
            </dict>
            <key>hz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{778,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,405}}</string>
                <key>sourceSize</key>
                <string>{778,405}</string>
            </dict>
            <key>mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{277,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,335}}</string>
                <key>sourceSize</key>
                <string>{277,335}</string>
            </dict>
            <key>pq.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{277,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,335}}</string>
                <key>sourceSize</key>
                <string>{277,335}</string>
            </dict>
            <key>sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{277,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,335}}</string>
                <key>sourceSize</key>
                <string>{277,335}</string>
            </dict>
            <key>sjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,561},{380,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,331}}</string>
                <key>sourceSize</key>
                <string>{380,331}</string>
            </dict>
            <key>ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,281},{278,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,335}}</string>
                <key>sourceSize</key>
                <string>{278,335}</string>
            </dict>
            <key>xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,335}}</string>
                <key>sourceSize</key>
                <string>{277,335}</string>
            </dict>
            <key>yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,561},{326,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,326}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>zfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{326,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,326}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>zp.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,281},{278,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,335}}</string>
                <key>sourceSize</key>
                <string>{278,335}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1013,1747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da087a6cfb160ac3e59f94652cbee67$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
