<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{32,1481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,1481}}</string>
                <key>sourceSize</key>
                <string>{32,1481}</string>
            </dict>
            <key>dengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,774},{114,115}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,165}</string>
            </dict>
            <key>dianzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,2},{228,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,561}}</string>
                <key>sourceSize</key>
                <string>{228,561}</string>
            </dict>
            <key>dianzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,774},{367,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,202}}</string>
                <key>sourceSize</key>
                <string>{367,202}</string>
            </dict>
            <key>dianzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{554,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,170}}</string>
                <key>sourceSize</key>
                <string>{554,170}</string>
            </dict>
            <key>enter_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,558},{159,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,101}}</string>
                <key>sourceSize</key>
                <string>{159,101}</string>
            </dict>
            <key>enter_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,661},{158,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,101}}</string>
                <key>sourceSize</key>
                <string>{158,101}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,978},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>guandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{215,766}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,766}}</string>
                <key>sourceSize</key>
                <string>{215,766}</string>
            </dict>
            <key>guandaozhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{215,766}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,766}}</string>
                <key>sourceSize</key>
                <string>{215,766}</string>
            </dict>
            <key>jianpan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{603,1022}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,1022}}</string>
                <key>sourceSize</key>
                <string>{603,1022}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,978},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,978},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,770},{636,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,239}}</string>
                <key>sourceSize</key>
                <string>{636,239}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,2},{770,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,440}}</string>
                <key>sourceSize</key>
                <string>{770,440}</string>
            </dict>
            <key>nor_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,890},{159,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,102}}</string>
                <key>sourceSize</key>
                <string>{159,102}</string>
            </dict>
            <key>nor_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,565},{159,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,101}}</string>
                <key>sourceSize</key>
                <string>{159,101}</string>
            </dict>
            <key>yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,129},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,2},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>yuanjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,565},{175,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,57},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,774},{227,249}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{227,249}}</string>
                <key>sourceSize</key>
                <string>{253,349}</string>
            </dict>
            <key>zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,978},{73,111}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{73,111}}</string>
                <key>sourceSize</key>
                <string>{87,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1980,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd14caee0e21596a8734245c2d8dc207$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
