<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_gz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{580,915}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,915}}</string>
                <key>sourceSize</key>
                <string>{580,915}</string>
            </dict>
            <key>2_gz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,915},{579,914}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,914}}</string>
                <key>sourceSize</key>
                <string>{579,914}</string>
            </dict>
            <key>2_gz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{959,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,668}}</string>
                <key>sourceSize</key>
                <string>{959,668}</string>
            </dict>
            <key>3_gz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{553,711}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,711}}</string>
                <key>sourceSize</key>
                <string>{553,711}</string>
            </dict>
            <key>3_gz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{958,911}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,911}}</string>
                <key>sourceSize</key>
                <string>{958,911}</string>
            </dict>
            <key>4_gz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1254},{861,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,600}}</string>
                <key>sourceSize</key>
                <string>{861,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deskImgs.png</string>
            <key>size</key>
            <string>{2008,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d90b3eb64e10bf95891cc8036cdd9d$</string>
            <key>textureFileName</key>
            <string>deskImgs.png</string>
        </dict>
    </dict>
</plist>
