<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,537},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>1_2y.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,209},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{108,51}</string>
            </dict>
            <key>1_3y.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,594},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{108,51}</string>
            </dict>
            <key>1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,356},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>1_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,404},{113,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,195}}</string>
                <key>sourceSize</key>
                <string>{113,195}</string>
            </dict>
            <key>1_gwc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{302,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,131}}</string>
                <key>sourceSize</key>
                <string>{302,131}</string>
            </dict>
            <key>1_mb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,190},{218,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,77}}</string>
                <key>sourceSize</key>
                <string>{218,77}</string>
            </dict>
            <key>1_mb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,129},{200,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,111}}</string>
                <key>sourceSize</key>
                <string>{200,113}</string>
            </dict>
            <key>1_nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,180},{155,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,142}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>1_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,356},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>1_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,213},{141,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,182}}</string>
                <key>sourceSize</key>
                <string>{141,182}</string>
            </dict>
            <key>1_td.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,524},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>2_dzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{273,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,186}}</string>
                <key>sourceSize</key>
                <string>{273,186}</string>
            </dict>
            <key>2_fj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{232,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,209}}</string>
                <key>sourceSize</key>
                <string>{232,209}</string>
            </dict>
            <key>2_gu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,310},{94,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,196}}</string>
                <key>sourceSize</key>
                <string>{94,196}</string>
            </dict>
            <key>2_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{265,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,213}}</string>
                <key>sourceSize</key>
                <string>{265,213}</string>
            </dict>
            <key>2_qc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{233,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,183}}</string>
                <key>sourceSize</key>
                <string>{233,183}</string>
            </dict>
            <key>2_wjq.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,269},{187,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,160}}</string>
                <key>sourceSize</key>
                <string>{187,160}</string>
            </dict>
            <key>2_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{177,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,226}}</string>
                <key>sourceSize</key>
                <string>{177,226}</string>
            </dict>
            <key>2_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,478},{168,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,156}}</string>
                <key>sourceSize</key>
                <string>{168,156}</string>
            </dict>
            <key>2_zq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,337},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>3_7y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,484},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{108,51}</string>
            </dict>
            <key>3_8y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,591},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{108,51}</string>
            </dict>
            <key>3_9y.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,597},{109,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,51}}</string>
                <key>sourceSize</key>
                <string>{109,51}</string>
            </dict>
            <key>3_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{274,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,125}}</string>
                <key>sourceSize</key>
                <string>{274,125}</string>
            </dict>
            <key>3_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,209},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>3_cq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,508},{140,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,179}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>3_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,269},{160,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,172}}</string>
                <key>sourceSize</key>
                <string>{160,172}</string>
            </dict>
            <key>3_jsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,2},{143,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,176}}</string>
                <key>sourceSize</key>
                <string>{143,176}</string>
            </dict>
            <key>3_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,406},{168,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{168,189}</string>
            </dict>
            <key>3_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,212}}</string>
                <key>sourceSize</key>
                <string>{274,212}</string>
            </dict>
            <key>3_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,310},{169,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,166}}</string>
                <key>sourceSize</key>
                <string>{169,166}</string>
            </dict>
            <key>3_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,242},{162,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,177}}</string>
                <key>sourceSize</key>
                <string>{162,177}</string>
            </dict>
            <key>4_mz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,431},{215,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,89}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>4_mz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,527},{154,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,123}}</string>
                <key>sourceSize</key>
                <string>{154,123}</string>
            </dict>
            <key>4_mz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,431},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>4_qz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,242},{160,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,91}}</string>
                <key>sourceSize</key>
                <string>{160,91}</string>
            </dict>
            <key>4_qz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,187},{167,99}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,99}}</string>
                <key>sourceSize</key>
                <string>{177,101}</string>
            </dict>
            <key>4_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,135},{230,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,72}}</string>
                <key>sourceSize</key>
                <string>{230,72}</string>
            </dict>
            <key>4_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,181},{228,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,127}}</string>
                <key>sourceSize</key>
                <string>{228,127}</string>
            </dict>
            <key>4_yf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,187},{186,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,158}}</string>
                <key>sourceSize</key>
                <string>{186,158}</string>
            </dict>
            <key>4_yf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,347},{178,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,153}}</string>
                <key>sourceSize</key>
                <string>{178,153}</string>
            </dict>
            <key>4_yf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,406},{186,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,158}}</string>
                <key>sourceSize</key>
                <string>{186,158}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{222,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,223}}</string>
                <key>sourceSize</key>
                <string>{222,223}</string>
            </dict>
            <key>zuo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,431},{221,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,223}}</string>
                <key>sourceSize</key>
                <string>{221,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1976,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05aef2c37cbc83a083979bd6d02a8f01$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
