<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,545},{394,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,332}}</string>
                <key>sourceSize</key>
                <string>{394,332}</string>
            </dict>
            <key>1a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{394,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,332}}</string>
                <key>sourceSize</key>
                <string>{394,332}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{475,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,303}}</string>
                <key>sourceSize</key>
                <string>{475,303}</string>
            </dict>
            <key>1b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{475,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,303}}</string>
                <key>sourceSize</key>
                <string>{475,303}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1579},{217,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,274}}</string>
                <key>sourceSize</key>
                <string>{217,274}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1494},{253,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,205}}</string>
                <key>sourceSize</key>
                <string>{253,205}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1213},{135,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,390}}</string>
                <key>sourceSize</key>
                <string>{135,390}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,540},{151,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,33}}</string>
                <key>sourceSize</key>
                <string>{151,33}</string>
            </dict>
            <key>2e.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1855},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{170,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,124}}</string>
                <key>sourceSize</key>
                <string>{170,124}</string>
            </dict>
            <key>2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,874},{135,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,390}}</string>
                <key>sourceSize</key>
                <string>{135,390}</string>
            </dict>
            <key>2h.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1387},{135,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,390}}</string>
                <key>sourceSize</key>
                <string>{135,390}</string>
            </dict>
            <key>2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1524},{217,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,275}}</string>
                <key>sourceSize</key>
                <string>{217,275}</string>
            </dict>
            <key>2z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1582},{253,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,206}}</string>
                <key>sourceSize</key>
                <string>{253,206}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{473,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,302}}</string>
                <key>sourceSize</key>
                <string>{473,302}</string>
            </dict>
            <key>3a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,545},{338,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,302}}</string>
                <key>sourceSize</key>
                <string>{338,302}</string>
            </dict>
            <key>3a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,879},{354,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,264}}</string>
                <key>sourceSize</key>
                <string>{354,264}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{394,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,332}}</string>
                <key>sourceSize</key>
                <string>{394,332}</string>
            </dict>
            <key>3b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1191},{194,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,332}}</string>
                <key>sourceSize</key>
                <string>{194,332}</string>
            </dict>
            <key>3b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1145},{201,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,332}}</string>
                <key>sourceSize</key>
                <string>{201,332}</string>
            </dict>
            <key>3e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,908},{338,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,303}}</string>
                <key>sourceSize</key>
                <string>{338,303}</string>
            </dict>
            <key>3f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,540},{201,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,332}}</string>
                <key>sourceSize</key>
                <string>{201,332}</string>
            </dict>
            <key>3g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{194,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,332}}</string>
                <key>sourceSize</key>
                <string>{194,332}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,885},{339,304}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{339,304}}</string>
                <key>sourceSize</key>
                <string>{349,308}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1479},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,89}</string>
            </dict>
            <key>A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,307},{229,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1701},{229,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,230}}</string>
                <key>sourceSize</key>
                <string>{229,230}</string>
            </dict>
            <key>B1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1790},{225,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{225,226}</string>
            </dict>
            <key>B2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1266},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>beizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1524},{269,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,221}}</string>
                <key>sourceSize</key>
                <string>{269,221}</string>
            </dict>
            <key>beizib_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1350},{230,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,290}}</string>
                <key>sourceSize</key>
                <string>{230,290}</string>
            </dict>
            <key>mian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,529},{377,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,220}}</string>
                <key>sourceSize</key>
                <string>{377,220}</string>
            </dict>
            <key>mian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,307},{377,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,220}}</string>
                <key>sourceSize</key>
                <string>{377,220}</string>
            </dict>
            <key>shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1043,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1043,541}}</string>
                <key>sourceSize</key>
                <string>{1043,541}</string>
            </dict>
            <key>xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,540},{135,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,4}}</string>
                <key>sourceSize</key>
                <string>{135,4}</string>
            </dict>
            <key>yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1154},{423,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,102}}</string>
                <key>sourceSize</key>
                <string>{423,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1657,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c3bf7bac03fe86ea7c7e5902406978e$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
