<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1526},{263,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,130}}</string>
                <key>sourceSize</key>
                <string>{263,130}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1394},{263,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,130}}</string>
                <key>sourceSize</key>
                <string>{263,130}</string>
            </dict>
            <key>answerList.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{458,1183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,1183}}</string>
                <key>sourceSize</key>
                <string>{458,1183}</string>
            </dict>
            <key>anya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1661},{163,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{163,146}</string>
            </dict>
            <key>anya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1658},{260,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,126}}</string>
                <key>sourceSize</key>
                <string>{260,126}</string>
            </dict>
            <key>baishi_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1826},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>baoshi_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1531},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gezis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,808}}</string>
                <key>sourceSize</key>
                <string>{900,808}</string>
            </dict>
            <key>jiadianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,812},{553,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,580}}</string>
                <key>sourceSize</key>
                <string>{553,580}</string>
            </dict>
            <key>nengliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1394},{135,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,138}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>nengliangge.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1394},{143,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,561}}</string>
                <key>sourceSize</key>
                <string>{143,561}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1017,1997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34120a249cc4401d71f38a55a035ad43$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
