<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1043,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1043,347}}</string>
                <key>sourceSize</key>
                <string>{1043,347}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,944},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,679},{211,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,204}}</string>
                <key>sourceSize</key>
                <string>{211,204}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,885},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1311},{304,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,188}}</string>
                <key>sourceSize</key>
                <string>{304,188}</string>
            </dict>
            <key>1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1559},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{827,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,128}}</string>
                <key>sourceSize</key>
                <string>{827,128}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1897},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,679},{317,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,334}}</string>
                <key>sourceSize</key>
                <string>{317,334}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,545},{268,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,223}}</string>
                <key>sourceSize</key>
                <string>{268,223}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1015},{315,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,294}}</string>
                <key>sourceSize</key>
                <string>{315,294}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1029},{375,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,517}}</string>
                <key>sourceSize</key>
                <string>{375,517}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1920},{231,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,81}}</string>
                <key>sourceSize</key>
                <string>{231,81}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1635},{231,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,238}}</string>
                <key>sourceSize</key>
                <string>{231,238}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,545},{7,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,482}}</string>
                <key>sourceSize</key>
                <string>{7,482}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1635},{260,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,208}}</string>
                <key>sourceSize</key>
                <string>{260,208}</string>
            </dict>
            <key>4e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{253,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,254}}</string>
                <key>sourceSize</key>
                <string>{253,254}</string>
            </dict>
            <key>4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,770},{250,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,238}</string>
            </dict>
            <key>4g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1559},{292,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,359}}</string>
                <key>sourceSize</key>
                <string>{292,359}</string>
            </dict>
            <key>5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,351},{319,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,508}}</string>
                <key>sourceSize</key>
                <string>{319,508}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,679},{227,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,135}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1501},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,132},{3,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,96}}</string>
                <key>sourceSize</key>
                <string>{3,96}</string>
            </dict>
            <key>5e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1937},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>5f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,351},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>5g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{319,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,509}}</string>
                <key>sourceSize</key>
                <string>{319,509}</string>
            </dict>
            <key>6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1029},{396,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,539}}</string>
                <key>sourceSize</key>
                <string>{396,539}</string>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{96,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,3}}</string>
                <key>sourceSize</key>
                <string>{96,3}</string>
            </dict>
            <key>6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,132},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,132},{96,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,3}}</string>
                <key>sourceSize</key>
                <string>{96,3}</string>
            </dict>
            <key>6e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1559},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>6f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,908},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>6f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,672},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>6f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,672},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>6f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1897},{187,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,94}}</string>
                <key>sourceSize</key>
                <string>{187,94}</string>
            </dict>
            <key>6f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,672},{187,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,94}}</string>
                <key>sourceSize</key>
                <string>{187,94}</string>
            </dict>
            <key>6f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{265,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,132}}</string>
                <key>sourceSize</key>
                <string>{265,132}</string>
            </dict>
            <key>6f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,905},{264,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,133}}</string>
                <key>sourceSize</key>
                <string>{264,133}</string>
            </dict>
            <key>6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1585},{396,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,539}}</string>
                <key>sourceSize</key>
                <string>{396,539}</string>
            </dict>
            <key>8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{340,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,554}}</string>
                <key>sourceSize</key>
                <string>{340,554}</string>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,679},{339,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,552}}</string>
                <key>sourceSize</key>
                <string>{339,552}</string>
            </dict>
            <key>8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1570},{205,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,431}}</string>
                <key>sourceSize</key>
                <string>{205,431}</string>
            </dict>
            <key>8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1585},{192,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,405}}</string>
                <key>sourceSize</key>
                <string>{192,405}</string>
            </dict>
            <key>8e.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1550},{193,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,385}}</string>
                <key>sourceSize</key>
                <string>{193,385}</string>
            </dict>
            <key>9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1029},{519,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,283}}</string>
                <key>sourceSize</key>
                <string>{519,283}</string>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,132},{681,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,545}}</string>
                <key>sourceSize</key>
                <string>{681,545}</string>
            </dict>
            <key>9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,429},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>9c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,411},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>9c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,463},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>9c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,393},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>9c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,375},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1920},{132,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,67}}</string>
                <key>sourceSize</key>
                <string>{132,67}</string>
            </dict>
            <key>9d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,672},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>9d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1559},{67,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,132}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>9d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1817},{94,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,187}}</string>
                <key>sourceSize</key>
                <string>{94,187}</string>
            </dict>
            <key>9d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1628},{94,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,187}}</string>
                <key>sourceSize</key>
                <string>{94,187}</string>
            </dict>
            <key>9d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1501},{264,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,132}}</string>
                <key>sourceSize</key>
                <string>{264,132}</string>
            </dict>
            <key>9d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,770},{264,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,133}}</string>
                <key>sourceSize</key>
                <string>{264,133}</string>
            </dict>
            <key>9f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1040},{517,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,281}}</string>
                <key>sourceSize</key>
                <string>{517,281}</string>
            </dict>
            <key>9x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,446},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,269},{274,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{274,276}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,885},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1022},{488,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,3}}</string>
                <key>sourceSize</key>
                <string>{488,3}</string>
            </dict>
            <key>yuankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1937},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yuankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1937},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qBankImgs.png</string>
            <key>size</key>
            <string>{2010,2013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:670ac5115bbf6ec04206e103b3ce843e$</string>
            <key>textureFileName</key>
            <string>qBankImgs.png</string>
        </dict>
    </dict>
</plist>
