<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1197},{131,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,166}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>cm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1602},{112,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,195}}</string>
                <key>sourceSize</key>
                <string>{112,195}</string>
            </dict>
            <key>cm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{96,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,203}}</string>
                <key>sourceSize</key>
                <string>{96,203}</string>
            </dict>
            <key>cm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,198},{107,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,192}}</string>
                <key>sourceSize</key>
                <string>{107,192}</string>
            </dict>
            <key>dt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1068},{120,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,131}}</string>
                <key>sourceSize</key>
                <string>{120,131}</string>
            </dict>
            <key>dt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1190},{129,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,187}}</string>
                <key>sourceSize</key>
                <string>{129,187}</string>
            </dict>
            <key>dt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,939},{127,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,142}}</string>
                <key>sourceSize</key>
                <string>{127,142}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1060},{205,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,128}}</string>
                <key>sourceSize</key>
                <string>{205,128}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1379},{206,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,124}}</string>
                <key>sourceSize</key>
                <string>{206,124}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1197},{221,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,179}}</string>
                <key>sourceSize</key>
                <string>{221,179}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1540},{161,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,159}}</string>
                <key>sourceSize</key>
                <string>{161,159}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{1397,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1397,873}}</string>
                <key>sourceSize</key>
                <string>{1397,873}</string>
            </dict>
            <key>lm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1190},{139,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>lm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,2},{112,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,194}}</string>
                <key>sourceSize</key>
                <string>{112,194}</string>
            </dict>
            <key>lm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1614},{94,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,205}}</string>
                <key>sourceSize</key>
                <string>{94,205}</string>
            </dict>
            <key>lm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,392},{107,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,189}}</string>
                <key>sourceSize</key>
                <string>{107,189}</string>
            </dict>
            <key>mj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1378},{215,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,118}}</string>
                <key>sourceSize</key>
                <string>{215,118}</string>
            </dict>
            <key>mj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1378},{222,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,140}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>mj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,927},{210,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,131}}</string>
                <key>sourceSize</key>
                <string>{210,131}</string>
            </dict>
            <key>q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,739},{198,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,123}}</string>
                <key>sourceSize</key>
                <string>{198,123}</string>
            </dict>
            <key>q2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1505},{205,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,125}}</string>
                <key>sourceSize</key>
                <string>{205,125}</string>
            </dict>
            <key>q3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,739},{221,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,186}}</string>
                <key>sourceSize</key>
                <string>{221,186}</string>
            </dict>
            <key>q4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1379},{161,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,159}}</string>
                <key>sourceSize</key>
                <string>{161,159}</string>
            </dict>
            <key>qianjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1921,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1921,735}}</string>
                <key>sourceSize</key>
                <string>{1921,735}</string>
            </dict>
            <key>xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,971},{277,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,224}}</string>
                <key>sourceSize</key>
                <string>{277,224}</string>
            </dict>
            <key>xuanxuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,739},{281,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,230}}</string>
                <key>sourceSize</key>
                <string>{281,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pImg.png</string>
            <key>size</key>
            <string>{2041,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38efd1b537bbb45fa5aacd749c85aac0$</string>
            <key>textureFileName</key>
            <string>pImg.png</string>
        </dict>
    </dict>
</plist>
