<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1649},{248,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,75}}</string>
                <key>sourceSize</key>
                <string>{248,75}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1003},{248,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,75}}</string>
                <key>sourceSize</key>
                <string>{248,75}</string>
            </dict>
            <key>jiqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,499},{820,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,399}}</string>
                <key>sourceSize</key>
                <string>{820,399}</string>
            </dict>
            <key>jiqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{740,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,115}}</string>
                <key>sourceSize</key>
                <string>{740,115}</string>
            </dict>
            <key>jiqi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,293},{608,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,204}}</string>
                <key>sourceSize</key>
                <string>{608,204}</string>
            </dict>
            <key>jiqi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{527,924}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,924}}</string>
                <key>sourceSize</key>
                <string>{527,924}</string>
            </dict>
            <key>lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1297,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1297,604}}</string>
                <key>sourceSize</key>
                <string>{1297,604}</string>
            </dict>
            <key>lanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{1298,393}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1298,393}}</string>
                <key>sourceSize</key>
                <string>{1310,443}</string>
            </dict>
            <key>mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{289,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,704}}</string>
                <key>sourceSize</key>
                <string>{289,704}</string>
            </dict>
            <key>mb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1003},{289,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,361}}</string>
                <key>sourceSize</key>
                <string>{289,361}</string>
            </dict>
            <key>mb1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,499},{289,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,344}}</string>
                <key>sourceSize</key>
                <string>{289,344}</string>
            </dict>
            <key>mb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1545},{274,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,236}}</string>
                <key>sourceSize</key>
                <string>{274,236}</string>
            </dict>
            <key>mb2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,845},{290,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,235}}</string>
                <key>sourceSize</key>
                <string>{290,235}</string>
            </dict>
            <key>mb2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1545},{273,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,235}}</string>
                <key>sourceSize</key>
                <string>{273,235}</string>
            </dict>
            <key>mb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1321},{253,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,176}}</string>
                <key>sourceSize</key>
                <string>{253,176}</string>
            </dict>
            <key>mb3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1366},{291,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,177}}</string>
                <key>sourceSize</key>
                <string>{291,177}</string>
            </dict>
            <key>mb3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1137},{289,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,177}}</string>
                <key>sourceSize</key>
                <string>{289,177}</string>
            </dict>
            <key>mb3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1321},{253,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,177}}</string>
                <key>sourceSize</key>
                <string>{253,177}</string>
            </dict>
            <key>mb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1500},{232,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,141}}</string>
                <key>sourceSize</key>
                <string>{232,141}</string>
            </dict>
            <key>mb4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1460},{285,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,142}}</string>
                <key>sourceSize</key>
                <string>{285,142}</string>
            </dict>
            <key>mb4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1604},{289,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,141}}</string>
                <key>sourceSize</key>
                <string>{289,141}</string>
            </dict>
            <key>mb4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1316},{285,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,142}}</string>
                <key>sourceSize</key>
                <string>{285,142}</string>
            </dict>
            <key>mb4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1500},{233,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,141}}</string>
                <key>sourceSize</key>
                <string>{233,141}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,293},{13,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,63}}</string>
                <key>sourceSize</key>
                <string>{13,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{2018,1783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f70f98c8a772e98092baf980870b984$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
