<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,224},{114,137}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{114,137}}</string>
                <key>sourceSize</key>
                <string>{126,189}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,500},{132,129}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{132,129}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,994},{132,129}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{132,129}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1030},{130,129}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{130,129}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,792},{134,131}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{134,131}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,901},{131,127}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{131,127}}</string>
                <key>sourceSize</key>
                <string>{145,189}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,363},{135,129}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{135,129}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{135,131}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{135,131}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1030},{88,129}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{88,129}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1128},{98,129}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{98,129}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1161},{88,128}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{88,128}}</string>
                <key>sourceSize</key>
                <string>{102,194}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{91,126}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{91,126}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>dianzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{205,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,210}}</string>
                <key>sourceSize</key>
                <string>{205,210}</string>
            </dict>
            <key>dianzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{205,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,210}}</string>
                <key>sourceSize</key>
                <string>{205,210}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,766},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,631},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>nengliang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,570},{101,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,220}}</string>
                <key>sourceSize</key>
                <string>{101,220}</string>
            </dict>
            <key>nengliang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{101,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,220}}</string>
                <key>sourceSize</key>
                <string>{101,220}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1161},{84,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,130}}</string>
                <key>sourceSize</key>
                <string>{84,130}</string>
            </dict>
            <key>xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,289}}</string>
                <key>sourceSize</key>
                <string>{335,289}</string>
            </dict>
            <key>xuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{335,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,275}}</string>
                <key>sourceSize</key>
                <string>{335,275}</string>
            </dict>
            <key>yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,928},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,928},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{495,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d4f5bf0198c742560e55669edc485f1$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
