<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,548},{284,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,136}}</string>
                <key>sourceSize</key>
                <string>{284,136}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,686},{338,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,160}}</string>
                <key>sourceSize</key>
                <string>{338,160}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{342,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,161}}</string>
                <key>sourceSize</key>
                <string>{342,161}</string>
            </dict>
            <key>1jio.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1378},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>1yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1345},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,686},{338,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,161}}</string>
                <key>sourceSize</key>
                <string>{338,161}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1026},{312,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,142}}</string>
                <key>sourceSize</key>
                <string>{312,142}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{342,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,162}}</string>
                <key>sourceSize</key>
                <string>{342,162}</string>
            </dict>
            <key>5mao.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1170},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>cqg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,201},{345,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,266}}</string>
                <key>sourceSize</key>
                <string>{345,266}</string>
            </dict>
            <key>qb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{454,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,191}}</string>
                <key>sourceSize</key>
                <string>{454,191}</string>
            </dict>
            <key>qb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,197}}</string>
                <key>sourceSize</key>
                <string>{453,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{491,1567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4793087b679caac2139889d9cc86040$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
