<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{859,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,316}}</string>
                <key>sourceSize</key>
                <string>{859,316}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1167,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1167,316}}</string>
                <key>sourceSize</key>
                <string>{1167,316}</string>
            </dict>
            <key>q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,232},{144,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,219}}</string>
                <key>sourceSize</key>
                <string>{144,219}</string>
            </dict>
            <key>q2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,453},{140,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,237}}</string>
                <key>sourceSize</key>
                <string>{140,237}</string>
            </dict>
            <key>q3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,863},{187,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,252}}</string>
                <key>sourceSize</key>
                <string>{187,252}</string>
            </dict>
            <key>q4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{153,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,228}}</string>
                <key>sourceSize</key>
                <string>{153,228}</string>
            </dict>
            <key>touchImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,863},{296,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,256}}</string>
                <key>sourceSize</key>
                <string>{296,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>imgs.png</string>
            <key>size</key>
            <string>{793,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d3e993bdff474f2648fcdb60dd582d$</string>
            <key>textureFileName</key>
            <string>imgs.png</string>
        </dict>
    </dict>
</plist>
