<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuansongdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,401},{56,212}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,212}}</string>
                <key>sourceSize</key>
                <string>{60,212}</string>
            </dict>
            <key>gt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,517},{190,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,166}}</string>
                <key>sourceSize</key>
                <string>{190,166}</string>
            </dict>
            <key>gt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{191,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,166}}</string>
                <key>sourceSize</key>
                <string>{191,166}</string>
            </dict>
            <key>gt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{191,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,165}}</string>
                <key>sourceSize</key>
                <string>{191,165}</string>
            </dict>
            <key>gt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,113},{190,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,165}}</string>
                <key>sourceSize</key>
                <string>{190,165}</string>
            </dict>
            <key>gt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{191,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,166}}</string>
                <key>sourceSize</key>
                <string>{191,166}</string>
            </dict>
            <key>gt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,325},{190,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,166}}</string>
                <key>sourceSize</key>
                <string>{190,166}</string>
            </dict>
            <key>sg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,709},{113,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,151}}</string>
                <key>sourceSize</key>
                <string>{113,151}</string>
            </dict>
            <key>sg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,615},{97,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>sg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,305},{94,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,116}}</string>
                <key>sourceSize</key>
                <string>{94,116}</string>
            </dict>
            <key>ssg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,474},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>ssg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,740},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>ssg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,401},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{292,104}}</string>
                <key>offset</key>
                <string>{-36,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,104}}</string>
                <key>sourceSize</key>
                <string>{364,124}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,109}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{474,109}}</string>
                <key>sourceSize</key>
                <string>{478,123}</string>
            </dict>
            <key>zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{290,104}}</string>
                <key>offset</key>
                <string>{-35,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{290,104}}</string>
                <key>sourceSize</key>
                <string>{364,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{481,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c762c84899f8d36010607ed4f129ac1$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
