<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,284},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1064,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,310}}</string>
                <key>sourceSize</key>
                <string>{1064,310}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,190},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,191},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{234,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{234,233}}</string>
                <key>sourceSize</key>
                <string>{256,257}</string>
            </dict>
            <key>zhengque1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,2},{186,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,187}}</string>
                <key>sourceSize</key>
                <string>{186,187}</string>
            </dict>
            <key>zhengque2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,2},{186,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,187}}</string>
                <key>sourceSize</key>
                <string>{186,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>formula.png</string>
            <key>size</key>
            <string>{1962,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26da7f8a7e5ac29384c597b73b9f343$</string>
            <key>textureFileName</key>
            <string>formula.png</string>
        </dict>
    </dict>
</plist>
