<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,742},{400,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,203}}</string>
                <key>sourceSize</key>
                <string>{400,203}</string>
            </dict>
            <key>1_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,270},{342,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,288}}</string>
                <key>sourceSize</key>
                <string>{342,288}</string>
            </dict>
            <key>1_wj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1754},{277,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,275}}</string>
                <key>sourceSize</key>
                <string>{277,275}</string>
            </dict>
            <key>1_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1061},{195,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,325}}</string>
                <key>sourceSize</key>
                <string>{195,325}</string>
            </dict>
            <key>1_xz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,372},{677,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,368}}</string>
                <key>sourceSize</key>
                <string>{677,368}</string>
            </dict>
            <key>1_xz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{677,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,368}}</string>
                <key>sourceSize</key>
                <string>{677,368}</string>
            </dict>
            <key>2_pz.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1798},{455,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,218}}</string>
                <key>sourceSize</key>
                <string>{455,218}</string>
            </dict>
            <key>2_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,742},{377,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,309}}</string>
                <key>sourceSize</key>
                <string>{377,309}</string>
            </dict>
            <key>2_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1258},{306,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,304}}</string>
                <key>sourceSize</key>
                <string>{306,304}</string>
            </dict>
            <key>2_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,742},{401,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,218}}</string>
                <key>sourceSize</key>
                <string>{401,218}</string>
            </dict>
            <key>2_xz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{677,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,368}}</string>
                <key>sourceSize</key>
                <string>{677,368}</string>
            </dict>
            <key>2_xz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{677,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,368}}</string>
                <key>sourceSize</key>
                <string>{677,368}</string>
            </dict>
            <key>3_kz.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1798},{245,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,236}}</string>
                <key>sourceSize</key>
                <string>{245,236}</string>
            </dict>
            <key>3_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{239,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,238}}</string>
                <key>sourceSize</key>
                <string>{239,238}</string>
            </dict>
            <key>3_qb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1564},{176,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,264}}</string>
                <key>sourceSize</key>
                <string>{176,264}</string>
            </dict>
            <key>3_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1179},{322,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,190}}</string>
                <key>sourceSize</key>
                <string>{322,190}</string>
            </dict>
            <key>3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,742},{317,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,328}}</string>
                <key>sourceSize</key>
                <string>{317,328}</string>
            </dict>
            <key>3_xp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1371},{157,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,263}}</string>
                <key>sourceSize</key>
                <string>{157,263}</string>
            </dict>
            <key>3_xz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1179},{617,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,336}}</string>
                <key>sourceSize</key>
                <string>{617,336}</string>
            </dict>
            <key>3_xz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1179},{617,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,336}}</string>
                <key>sourceSize</key>
                <string>{617,336}</string>
            </dict>
            <key>3_xz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{617,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,336}}</string>
                <key>sourceSize</key>
                <string>{617,336}</string>
            </dict>
            <key>4_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1798},{224,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,164}}</string>
                <key>sourceSize</key>
                <string>{224,164}</string>
            </dict>
            <key>4_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1742},{247,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,268}}</string>
                <key>sourceSize</key>
                <string>{247,268}</string>
            </dict>
            <key>4_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1564},{283,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,188}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>4_qt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{179,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,406}}</string>
                <key>sourceSize</key>
                <string>{179,406}</string>
            </dict>
            <key>4_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{346,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,266}}</string>
                <key>sourceSize</key>
                <string>{346,266}</string>
            </dict>
            <key>4_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,560},{617,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,336}}</string>
                <key>sourceSize</key>
                <string>{617,336}</string>
            </dict>
            <key>4_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1053},{321,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,122}}</string>
                <key>sourceSize</key>
                <string>{321,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1708,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425cb1bd1204a53ef221ba5e570fd0f2$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
