<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1087},{159,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,212}}</string>
                <key>sourceSize</key>
                <string>{159,212}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,605},{110,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,214}}</string>
                <key>sourceSize</key>
                <string>{110,214}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,717},{155,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,172}}</string>
                <key>sourceSize</key>
                <string>{155,172}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,874},{166,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,211}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1734},{110,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,203}}</string>
                <key>sourceSize</key>
                <string>{110,203}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1301},{115,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,150}}</string>
                <key>sourceSize</key>
                <string>{115,150}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1528},{135,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,204}}</string>
                <key>sourceSize</key>
                <string>{135,204}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1418},{108,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{108,137}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,483},{120,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,220}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1921,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1921,243}}</string>
                <key>sourceSize</key>
                <string>{1921,243}</string>
            </dict>
            <key>jiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,717},{1240,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1240,59}}</string>
                <key>sourceSize</key>
                <string>{1240,59}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{256,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,257}}</string>
                <key>sourceSize</key>
                <string>{256,257}</string>
            </dict>
            <key>xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,261},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{505,1959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8d0d4986c578286433368a48b796895$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
