<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,499},{17,82}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{17,82}}</string>
                <key>sourceSize</key>
                <string>{23,114}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,829},{67,74}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{67,74}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,947},{52,76}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{52,76}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,947},{53,78}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{53,78}}</string>
                <key>sourceSize</key>
                <string>{61,114}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,713},{58,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{58,76}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,947},{52,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{52,76}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,904},{54,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{54,78}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,898},{54,76}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,773},{54,76}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>dianhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{805,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,171}}</string>
                <key>sourceSize</key>
                <string>{805,171}</string>
            </dict>
            <key>guantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,534},{411,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,357}}</string>
                <key>sourceSize</key>
                <string>{411,357}</string>
            </dict>
            <key>guantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{411,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,357}}</string>
                <key>sourceSize</key>
                <string>{411,357}</string>
            </dict>
            <key>guantou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,175},{411,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,357}}</string>
                <key>sourceSize</key>
                <string>{411,357}</string>
            </dict>
            <key>qianjing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{364,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,460}}</string>
                <key>sourceSize</key>
                <string>{364,460}</string>
            </dict>
            <key>tie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,904},{131,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,85}}</string>
                <key>sourceSize</key>
                <string>{131,85}</string>
            </dict>
            <key>tie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,713},{167,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,96}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>tie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,811},{137,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,91}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
            <key>tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{215,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,204}}</string>
                <key>sourceSize</key>
                <string>{215,204}</string>
            </dict>
            <key>tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,219},{278,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,232}}</string>
                <key>sourceSize</key>
                <string>{278,232}</string>
            </dict>
            <key>tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,499},{219,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,212}}</string>
                <key>sourceSize</key>
                <string>{219,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1021,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef12336faa437f96d25211eb6959878$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
