<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{843,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,540}}</string>
                <key>sourceSize</key>
                <string>{843,540}</string>
            </dict>
            <key>k_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1032,729}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,729}}</string>
                <key>sourceSize</key>
                <string>{1032,729}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,717},{310,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,311}}</string>
                <key>sourceSize</key>
                <string>{310,311}</string>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,404},{311,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,311}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,404},{310,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,311}}</string>
                <key>sourceSize</key>
                <string>{310,311}</string>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,717},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,847},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>qr_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,847},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{1900,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21bce133eb7b4a1e78d279641129978d$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
