<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,610},{193,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,225}}</string>
                <key>sourceSize</key>
                <string>{193,225}</string>
            </dict>
            <key>chui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,766},{193,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,228}}</string>
                <key>sourceSize</key>
                <string>{193,228}</string>
            </dict>
            <key>chui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,610},{193,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,226}}</string>
                <key>sourceSize</key>
                <string>{193,226}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1626,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1626,606}}</string>
                <key>sourceSize</key>
                <string>{1626,606}</string>
            </dict>
            <key>dizuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{384,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,396}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{362,967}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,967}}</string>
                <key>sourceSize</key>
                <string>{362,967}</string>
            </dict>
            <key>suan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,556},{239,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{239,136}}</string>
                <key>sourceSize</key>
                <string>{277,194}</string>
            </dict>
            <key>suan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,835},{247,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{247,92}}</string>
                <key>sourceSize</key>
                <string>{263,140}</string>
            </dict>
            <key>suan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,805},{234,143}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{234,143}}</string>
                <key>sourceSize</key>
                <string>{274,193}</string>
            </dict>
            <key>suan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,400},{245,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{245,92}}</string>
                <key>sourceSize</key>
                <string>{263,140}</string>
            </dict>
            <key>suan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,400},{270,154}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{270,154}}</string>
                <key>sourceSize</key>
                <string>{306,204}</string>
            </dict>
            <key>suan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,837},{277,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{277,97}}</string>
                <key>sourceSize</key>
                <string>{293,143}</string>
            </dict>
            <key>suan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,610},{270,154}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{270,154}}</string>
                <key>sourceSize</key>
                <string>{306,204}</string>
            </dict>
            <key>suan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,556},{277,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{277,97}}</string>
                <key>sourceSize</key>
                <string>{293,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{2016,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c26e2a392c8279c97f4f3a95f869a65$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
