<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cal_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cal_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{1,604},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,27},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,97},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delete_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,167},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delete_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,237},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemImg_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,307},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemImg_normal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,69}</string>
                <key>spriteSourceSize</key>
                <string>{107,69}</string>
                <key>textureRect</key>
                <string>{{1,447},{107,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemImg_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,377},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1,518},{84,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>calculator_yellow.png</string>
            <key>size</key>
            <string>{109,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587a22240be3cfaae20cb2e0b9055224:542321c8a6526fb99a0d17ebc43de9ab:6b13b6bbae1b1d31fc15880557c12a9c$</string>
            <key>textureFileName</key>
            <string>calculator_yellow.png</string>
        </dict>
    </dict>
</plist>
