<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{388,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,227}}</string>
                <key>sourceSize</key>
                <string>{388,227}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,668},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>men1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,231},{185,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,396}}</string>
                <key>sourceSize</key>
                <string>{185,396}</string>
            </dict>
            <key>men2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,728},{185,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,396}}</string>
                <key>sourceSize</key>
                <string>{185,396}</string>
            </dict>
            <key>qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,418},{318,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,248}}</string>
                <key>sourceSize</key>
                <string>{318,248}</string>
            </dict>
            <key>qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,668},{317,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,248}}</string>
                <key>sourceSize</key>
                <string>{317,248}</string>
            </dict>
            <key>qianjing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1186,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1186,724}}</string>
                <key>sourceSize</key>
                <string>{1186,724}</string>
            </dict>
            <key>qianjing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{950,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,348}}</string>
                <key>sourceSize</key>
                <string>{950,348}</string>
            </dict>
            <key>xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,418},{45,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,185}}</string>
                <key>sourceSize</key>
                <string>{45,185}</string>
            </dict>
            <key>xuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,728},{148,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,154}}</string>
                <key>sourceSize</key>
                <string>{148,154}</string>
            </dict>
            <key>zhuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{97,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,566}}</string>
                <key>sourceSize</key>
                <string>{97,566}</string>
            </dict>
            <key>zhuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{96,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,566}}</string>
                <key>sourceSize</key>
                <string>{96,566}</string>
            </dict>
            <key>zhuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{96,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,566}}</string>
                <key>sourceSize</key>
                <string>{96,566}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{2037,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54650aafb8ba8a700a169e0dd9ebca07$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
