<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,608},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1885},{201,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,147}}</string>
                <key>sourceSize</key>
                <string>{201,147}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,406},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,204},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1885},{201,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,147}}</string>
                <key>sourceSize</key>
                <string>{201,147}</string>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1677},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1123},{201,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,148}}</string>
                <key>sourceSize</key>
                <string>{201,148}</string>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1624},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,969},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1123},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1273},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1475},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1826},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1624},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1475},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1273},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1273},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>jiwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1589,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1589,228}}</string>
                <key>sourceSize</key>
                <string>{1589,228}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{313,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,965}}</string>
                <key>sourceSize</key>
                <string>{313,965}</string>
            </dict>
            <key>xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,969},{205,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,152}}</string>
                <key>sourceSize</key>
                <string>{205,152}</string>
            </dict>
            <key>yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1593},{290,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,237}}</string>
                <key>sourceSize</key>
                <string>{290,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pImg.png</string>
            <key>size</key>
            <string>{696,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a91207be55e64be16bc9e72046aecd54$</string>
            <key>textureFileName</key>
            <string>pImg.png</string>
        </dict>
    </dict>
</plist>
