<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_check_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,304},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>btn_check_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,304},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,161},{142,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>btn_right_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{156,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>btn_right_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{156,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>btn_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,161},{142,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>btn_wrong_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{159,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,160}}</string>
                <key>sourceSize</key>
                <string>{159,160}</string>
            </dict>
            <key>btn_wrong_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,160}}</string>
                <key>sourceSize</key>
                <string>{159,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_Plist.png</string>
            <key>size</key>
            <string>{479,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c65fb9f4b207b29d7e18d738e385cc6$</string>
            <key>textureFileName</key>
            <string>btn_Plist.png</string>
        </dict>
    </dict>
</plist>
