<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,382},{49,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{49,72}}</string>
                <key>sourceSize</key>
                <string>{57,108}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{55,71}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{55,71}}</string>
                <key>sourceSize</key>
                <string>{57,107}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,344},{51,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{51,72}}</string>
                <key>sourceSize</key>
                <string>{57,108}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,329},{51,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{51,72}}</string>
                <key>sourceSize</key>
                <string>{57,108}</string>
            </dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,254},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,195},{66,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,109}}</string>
                <key>sourceSize</key>
                <string>{66,109}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,151},{42,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,137}}</string>
                <key>sourceSize</key>
                <string>{42,137}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,166},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,344},{52,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{52,36}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,75},{52,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{52,53}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,856},{54,13}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,53},{54,13}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>jian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,129},{53,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{53,35}}</string>
                <key>sourceSize</key>
                <string>{59,107}</string>
            </dict>
            <key>jian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,591},{262,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,263}}</string>
                <key>sourceSize</key>
                <string>{262,263}</string>
            </dict>
            <key>jian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,263},{64,98}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{64,98}}</string>
                <key>sourceSize</key>
                <string>{66,146}</string>
            </dict>
            <key>jian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>jian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{277,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{277,278}}</string>
                <key>sourceSize</key>
                <string>{293,294}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,587}}</string>
                <key>sourceSize</key>
                <string>{332,587}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{545,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d86e51e78f40ae724bc1ea8728584742$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
