<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{349,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,113}}</string>
                <key>sourceSize</key>
                <string>{349,113}</string>
            </dict>
            <key>beizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1066},{348,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,113}}</string>
                <key>sourceSize</key>
                <string>{348,113}</string>
            </dict>
            <key>jiaju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{728,938}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,938}}</string>
                <key>sourceSize</key>
                <string>{728,938}</string>
            </dict>
            <key>jiaju4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{817,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,164}}</string>
                <key>sourceSize</key>
                <string>{817,164}</string>
            </dict>
            <key>jiaju6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1062,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,930}}</string>
                <key>sourceSize</key>
                <string>{1062,930}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1389},{234,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,137}}</string>
                <key>sourceSize</key>
                <string>{234,137}</string>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1196},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1050},{283,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,145}}</string>
                <key>sourceSize</key>
                <string>{283,145}</string>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1389},{252,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,133}}</string>
                <key>sourceSize</key>
                <string>{252,133}</string>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,732},{190,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,153}}</string>
                <key>sourceSize</key>
                <string>{190,153}</string>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,924},{188,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,149}}</string>
                <key>sourceSize</key>
                <string>{188,149}</string>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1369},{265,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,110}}</string>
                <key>sourceSize</key>
                <string>{265,110}</string>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,821},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1289},{266,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,199}}</string>
                <key>sourceSize</key>
                <string>{266,199}</string>
            </dict>
            <key>q2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1023},{264,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,200}}</string>
                <key>sourceSize</key>
                <string>{264,200}</string>
            </dict>
            <key>q3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1388},{277,211}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,211}}</string>
                <key>sourceSize</key>
                <string>{293,215}</string>
            </dict>
            <key>q4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1114},{265,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,197}}</string>
                <key>sourceSize</key>
                <string>{265,197}</string>
            </dict>
            <key>q5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,821},{264,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,200}}</string>
                <key>sourceSize</key>
                <string>{264,200}</string>
            </dict>
            <key>q6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,994},{179,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,200}}</string>
                <key>sourceSize</key>
                <string>{179,200}</string>
            </dict>
            <key>q7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{277,211}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,211}}</string>
                <key>sourceSize</key>
                <string>{293,215}</string>
            </dict>
            <key>q8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1381},{167,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,187}}</string>
                <key>sourceSize</key>
                <string>{167,187}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1050},{275,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,64}}</string>
                <key>sourceSize</key>
                <string>{275,64}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1401},{241,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,74}}</string>
                <key>sourceSize</key>
                <string>{241,74}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,821},{233,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,130}}</string>
                <key>sourceSize</key>
                <string>{233,130}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1050},{269,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,67}}</string>
                <key>sourceSize</key>
                <string>{269,67}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,732},{257,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,60}}</string>
                <key>sourceSize</key>
                <string>{257,60}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,821},{233,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,71}}</string>
                <key>sourceSize</key>
                <string>{233,71}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1401},{235,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,130}}</string>
                <key>sourceSize</key>
                <string>{235,130}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1401},{235,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,73}}</string>
                <key>sourceSize</key>
                <string>{235,73}</string>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1389},{255,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,130}}</string>
                <key>sourceSize</key>
                <string>{255,130}</string>
            </dict>
            <key>y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1066},{333,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,309}}</string>
                <key>sourceSize</key>
                <string>{333,309}</string>
            </dict>
            <key>y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1066},{314,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,321}}</string>
                <key>sourceSize</key>
                <string>{314,321}</string>
            </dict>
            <key>y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,732},{301,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,316}}</string>
                <key>sourceSize</key>
                <string>{301,316}</string>
            </dict>
            <key>y4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1335},{190,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,279}}</string>
                <key>sourceSize</key>
                <string>{190,279}</string>
            </dict>
            <key>y5.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1066},{315,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,320}}</string>
                <key>sourceSize</key>
                <string>{315,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>imgs.png</string>
            <key>size</key>
            <string>{2040,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aedaeef179e7f3b1a378aef58a36918$</string>
            <key>textureFileName</key>
            <string>imgs.png</string>
        </dict>
    </dict>
</plist>
