<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,846},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{204,206}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,631},{213,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,204}}</string>
                <key>sourceSize</key>
                <string>{213,204}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1817},{251,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,209}}</string>
                <key>sourceSize</key>
                <string>{251,209}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1817},{218,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,206}}</string>
                <key>sourceSize</key>
                <string>{218,206}</string>
            </dict>
            <key>1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,409},{220,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,212}}</string>
                <key>sourceSize</key>
                <string>{220,212}</string>
            </dict>
            <key>baozida.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1213},{153,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,148}}</string>
                <key>sourceSize</key>
                <string>{153,148}</string>
            </dict>
            <key>baozixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1933},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>baozixuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1054},{157,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,152}}</string>
                <key>sourceSize</key>
                <string>{157,152}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{993,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,428}}</string>
                <key>sourceSize</key>
                <string>{993,428}</string>
            </dict>
            <key>panzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{934,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{934,365}}</string>
                <key>sourceSize</key>
                <string>{934,365}</string>
            </dict>
            <key>xuanxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,682},{403,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,273}}</string>
                <key>sourceSize</key>
                <string>{403,273}</string>
            </dict>
            <key>xuanxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1542},{502,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,273}}</string>
                <key>sourceSize</key>
                <string>{502,273}</string>
            </dict>
            <key>xuanzhong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{678,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{678,273}}</string>
                <key>sourceSize</key>
                <string>{678,275}</string>
            </dict>
            <key>zhenlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1087},{453,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,403}}</string>
                <key>sourceSize</key>
                <string>{453,403}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{100,405}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{100,405}}</string>
                <key>sourceSize</key>
                <string>{230,467}</string>
            </dict>
            <key>zi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1368},{94,134}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{94,134}}</string>
                <key>sourceSize</key>
                <string>{106,200}</string>
            </dict>
            <key>zi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,139},{96,131}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{96,131}}</string>
                <key>sourceSize</key>
                <string>{100,201}</string>
            </dict>
            <key>zi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1933},{92,134}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{92,134}}</string>
                <key>sourceSize</key>
                <string>{106,200}</string>
            </dict>
            <key>zi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{94,135}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{94,135}}</string>
                <key>sourceSize</key>
                <string>{106,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{937,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d7fbb52406665b741e7d75ccfcf490c$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
