<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1182},{257,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,256}}</string>
                <key>sourceSize</key>
                <string>{257,256}</string>
            </dict>
            <key>lajitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,878},{291,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,288}}</string>
                <key>sourceSize</key>
                <string>{291,288}</string>
            </dict>
            <key>lanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{1920,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,220}}</string>
                <key>sourceSize</key>
                <string>{1920,220}</string>
            </dict>
            <key>qianjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1921,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1921,652}}</string>
                <key>sourceSize</key>
                <string>{1921,652}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1171},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,878},{302,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,80}}</string>
                <key>sourceSize</key>
                <string>{302,80}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1364},{178,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,75}}</string>
                <key>sourceSize</key>
                <string>{178,75}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,878},{547,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,144}}</string>
                <key>sourceSize</key>
                <string>{547,144}</string>
            </dict>
            <key>zhantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{1058,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1058,561}}</string>
                <key>sourceSize</key>
                <string>{1058,561}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>imgs.png</string>
            <key>size</key>
            <string>{1925,1441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62b717811399640ab6c7303ab771eb38$</string>
            <key>textureFileName</key>
            <string>imgs.png</string>
        </dict>
    </dict>
</plist>
