<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{289,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,154}}</string>
                <key>sourceSize</key>
                <string>{289,154}</string>
            </dict>
            <key>tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,241},{188,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,234}}</string>
                <key>sourceSize</key>
                <string>{188,234}</string>
            </dict>
            <key>tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{212,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,237}}</string>
                <key>sourceSize</key>
                <string>{212,237}</string>
            </dict>
            <key>xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,318}}</string>
                <key>sourceSize</key>
                <string>{318,318}</string>
            </dict>
            <key>xuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,319}}</string>
                <key>sourceSize</key>
                <string>{318,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{856,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d943063d7c42f8a7c322d8068eeb8aa$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
