<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,344},{336,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,337}}</string>
                <key>sourceSize</key>
                <string>{336,337}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,860},{64,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,125}}</string>
                <key>sourceSize</key>
                <string>{64,127}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,340},{175,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,174}}</string>
                <key>sourceSize</key>
                <string>{175,174}</string>
            </dict>
            <key>1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,683},{175,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,174}}</string>
                <key>sourceSize</key>
                <string>{175,174}</string>
            </dict>
            <key>1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1152},{89,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,174}}</string>
                <key>sourceSize</key>
                <string>{89,174}</string>
            </dict>
            <key>1g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,768},{89,85}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{89,85}}</string>
                <key>sourceSize</key>
                <string>{99,123}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,344},{340,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{340,341}}</string>
                <key>sourceSize</key>
                <string>{342,341}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{340,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{340,341}}</string>
                <key>sourceSize</key>
                <string>{342,341}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1190},{139,54}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{139,54}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,860},{182,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,123}}</string>
                <key>sourceSize</key>
                <string>{182,123}</string>
            </dict>
            <key>2e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,967},{182,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,183}}</string>
                <key>sourceSize</key>
                <string>{182,183}</string>
            </dict>
            <key>2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,516},{122,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{122,183}</string>
            </dict>
            <key>2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1044},{125,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{125,85}}</string>
                <key>sourceSize</key>
                <string>{133,123}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,687},{276,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,278}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,640},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{1012,578}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{1012,578}}</string>
                <key>sourceSize</key>
                <string>{1024,592}</string>
            </dict>
            <key>3e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1146},{125,85}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{125,85}}</string>
                <key>sourceSize</key>
                <string>{133,123}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,687},{298,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,299}}</string>
                <key>sourceSize</key>
                <string>{298,299}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1013,579}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{1013,579}}</string>
                <key>sourceSize</key>
                <string>{1023,593}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,967},{176,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,177}}</string>
                <key>sourceSize</key>
                <string>{176,177}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,988},{199,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,200}}</string>
                <key>sourceSize</key>
                <string>{199,200}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,988},{177,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,200}}</string>
                <key>sourceSize</key>
                <string>{177,200}</string>
            </dict>
            <key>4e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1152},{130,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{130,86}}</string>
                <key>sourceSize</key>
                <string>{132,124}</string>
            </dict>
            <key>lvdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1016},{453,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,235}}</string>
                <key>sourceSize</key>
                <string>{453,235}</string>
            </dict>
            <key>xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1017},{226,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,356}}</string>
                <key>sourceSize</key>
                <string>{226,356}</string>
            </dict>
            <key>xuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{226,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,356}}</string>
                <key>sourceSize</key>
                <string>{226,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImgs.png</string>
            <key>size</key>
            <string>{2045,1253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f4d6c9c142ef7bace5bbb8acaf9e12$</string>
            <key>textureFileName</key>
            <string>gameImgs.png</string>
        </dict>
    </dict>
</plist>
